h3{
    display: flex;
}
p{
    display: flex;
}
body
    {
        background-color:aquamarine
    }
    #numberDisplay
    {
        font-size: 2in;
        height: 5cm;
        width: 5cm;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 42%;
    }
    h1
    {
        font-size: 1in;
        height: 2cm;
        width: 3cm;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 44.5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    button
    {
        display: inline;
        
    }
    #decrement
    {
        margin-left: 27.5%;
        margin-top: 5%;
        padding: 0.5cm 1cm 0.5cm 1cm;
        background-color: red;
        color: white;
    }
    #reset
    {
        margin-left: 5%;
        padding: 0.5cm 1cm 0.5cm 1cm;
        color: white;
        background-color: black;
    }
    #increment
    {
        margin-left: 5%;
        padding: 0.5cm 1cm 0.5cm 1cm;
        color: white;
        background-color: green;
    }